﻿@model LoggerParser.Models.SearchFormModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <div class="form-group">
            @Html.LabelFor(x => Model.Directories)

            @Html.DropDownListFor(x => Model.DirectoryPath, Model.Directories, htmlAttributes: new { @class = "form-control", @id = "ddlDirectory" })

        </div>

        <div class="form-group">
            @Html.LabelFor(x => Model.SearchText)

            @Html.TextBoxFor(x => Model.SearchText, htmlAttributes: new { @class = "form-control", @id = "txtSearch" })

        </div>

        <div class="form-group">
            <button id="search" type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</div>
<div id="resultsLinks">

</div>
@section scripts{
    <script type="text/javascript">
        $("#search").click(function (e) {
            e.preventDefault();

            var directory = $("#ddlDirectory").val();
            var searchText = $("#txtSearch").val();

            var searchModel = { DirectoryPath: directory, SearchText: searchText };

            $.ajax({
                type: "POST",
                url: "/api/Value/Search",
                data: JSON.stringify(searchModel),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                },
                error: function () {
                    alert("Error occured!!")
                }
            });

        });




        var connection = $.hubConnection();
        var hub = connection.createHubProxy("ParserHub");
        hub.on("showResult", function (results) {
            var resultList = [];
            resultList = results;
            for (var i = 0; i < results.length; i++) {
                var item = results[i];
                $("#resultsLinks").append("<div> <a href=\"" + item.Href + "\">" + item.HrefName + "</a></div> ")
            }
        });

        connection.start();

    </script>
}
